@using DataLayer.Enums
@model List<PresentationLayer.Models.DirectoryViewModel>


@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <h2>
                        <a asp-action="Index" asp-controller="Page"
                           asp-route-pageId="@item.Directory.Id"
                           asp-route-pageType="@PageEnums.PageType.Directory">
                            @item.Directory.Title
                        </a>
                    </h2>
                    <ul>
                        @if (item.Materials != null)
                        {
                            foreach (var subItem in item.Materials)
                            {
                                <li>
                                    <a asp-action="Index" asp-controller="Page"
                                       asp-route-pageId="@subItem.Material.Id"
                                       asp-route-pageType="@PageEnums.PageType.Material">
                                        @subItem.Material.Title
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
            <li>
                <a asp-action="PageEditor"
                   asp-controller="Page"
                   asp-route-pageId="0"
                   asp-route-pageType="@PageEnums.PageType.Directory">
                    <img class="h2Icon" 
                         src="Resourses/Icons/CreateIcon.png" 
                         alt="(Create Directory)"
                         title="Create Directory"/>
                </a>
            </li>
        </ul>
    </div>
</div>
